* {
  margin: 0;
}

.app {
  background-color: #FBFAFB;
  height: 100%;
}

.app__header {
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  height: 50px;
}

.app__post {
  margin-top: 45px;
  margin-bottom: 45px;
}